@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    -webkit-tap-highlight-color: transparent;
    letter-spacing: 1px;
}
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main {
    padding: 20px;
    max-width: 300px;
}
#mainText {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}
table {
    padding: 12px;
    min-width: 300px;
    max-width: 300px;
    border-spacing: 4px;
    border: solid 1px rgb(218, 218, 218);
    border-radius: 6px;
    background-color: azure;
}
.bn {
    font-family: 'Hind Siliguri', sans-serif;
}

.bnname strong, .bnname span {
    font-family: 'Hind Siliguri', sans-serif;
}
span.sciname {
    font-style: italic;
}
th {
    text-align: left;
    vertical-align: top;
}
td {
    word-wrap: break-word;
}
img {
    object-fit: cover;
    height: auto;
    width: 150px;
}
a, a:link, a:visited {
    font-size: 15px;
    color: black;
    text-underline-offset: 3px;
}
h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}
.names {
    margin-top: 5px;
    text-align: center;
}