@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tiro+Bangla&display=swap');
* {
    font-family: 'PT Sans', sans-serif;
    -webkit-tap-highlight-color: transparent;
    letter-spacing: 1px;
}
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main {
    padding: 20px;
    max-width: 300px;
}
#mainText {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}
table {
    padding: 12px;
    min-width: 300px;
    border: solid 1px rgb(218, 218, 218);
    background-color: azure;
}
.bn {
    font-family: 'Tiro Bangla', sans-serif;
}

.bnname strong, .bnname span {
    font-family: 'Tiro Bangla', sans-serif;
}
.sciname span {
    font-style: italic;
}
th {
    min-width: 150px;
    text-align: left;
}